.cuadro1{
  position: absolute; 
  left: -143px; 
  top: 500px; 
  z-index: 1;
  width: 446px;
  height: 467px;
  background: var(--bgDecoration);
  border-radius: 50%;
}

.cuadro2{
  position: absolute; 
  z-index: 1;
  border-radius: 50%;
  left: 300px; 
  top: 1000px; 
  width: 140px;
  height: 140px;
  background: var(--bgCuadro2);
  
}

.cuadro3{
  position: absolute; 
  left: 910px; 
  top: 250px;
  z-index: 1;
  width: 404px;
  height: 425px;
  border-radius: 50%;
  background: var(--bgDecoration)
  }

.cuadro4{
  position: absolute; 
  border-radius: 50%;
  z-index: 1;
  right: 450px; 
  top: 550px; 
  width: 222px;
  height: 237px;
  background: var(--bgDecoration)
}

.cuadro5{
  position: absolute;
  z-index: 1; 
  border-radius: 50%;
  background: var(--bgDecoration);
  right: 55px; 
  top: 999px;
  width: 500px;
  height: 500px;
}

@media (max-width: 1100px) {
  .cuadro1 { 
    top: 300px; 
    width: 300px;
    height: 300px;
  }
  .cuadro2 {
    display: none;
  }
  .cuadro3 {
    left: 300px; 
    top: 666px;
    width: 300px;
    height: 300px;
  }
  .cuadro4 {
    width: 300px;
    height: 300px;
    right: 250px; 
    top: 1000px; 
  }
  .cuadro5 {
    display: none;
  }
}

@media (max-width: 800px) {
  .cuadro2 {
    display: block;
    width: 100px;
    height: 100px;
    left: 330px; 
    top: 1540px;
  }
}

@media (max-width: 700px) {
  .cuadro5 {
    display: block;
    width: 500px;
    height: 500px;
    right: -22px; 
    top: 1950px;
  }
}

@media (max-width: 550px) {
  .cuadro5 {
    top: 2200px;
    height: 250px;
    /* formar un semi circulo*/
    border-radius: 500px 500px 0 0;
    -moz-border-radius: 500px 500px 0 0;
    -webkit-border-radius: 500px 500px 0 0;
  }
}

@media (max-width: 500px) {
  .cuadro5 {
    top: 2080px;
  }
}