.lienzo {
  background-color: rgb(123, 39, 172);
  height: 100vh;
  color: aliceblue;
}

.divPadre {
  padding: 20px;
}

.header {
    color: #fff;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.logo{
    margin: 20px;
    font-weight: bold;
}

.pie {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}