.lienzo{
    background-color: rgb(123, 39, 172);
    height: 100vh;
    padding-top: 25%;
}

.li{
    background: white;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
}

.campoTXT{
    width: 100%;
}

.boton{
    border-top-right-radius: 50px;
}