.Estilonivel{
  background: rgb(172, 39, 106);
  border-radius: 15px;
  height: 80px;
  margin-top: 20px;
}

/*######################*/

.SizeTabla::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: block;  /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.SizeTabla::-webkit-scrollbar-thumb {
  background: var(--bgScroll);
  border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.SizeTabla::-webkit-scrollbar-thumb:hover {
  background: var(--bgScrollHover);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.SizeTabla::-webkit-scrollbar-thumb:active {
  background-color: var(--bgScroll);
}